p, h1, footer{
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

footer {
    margin-left: 10px;
    
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

hr {
    border: solid;
    border-width: 2px;
    border-color:#fa0f0f;
    margin-bottom: 0px;
}

body {
    margin: 0px;
}

.nav {
   display: flex;
   justify-content: center; 
   gap: 200px;               
   background: #fa0f0f;
   background: linear-gradient(0deg, rgba(250, 15, 15, 1) 0%, rgba(145, 33, 33, 1) 100%);
   padding: 15px;
   height: 80px;
   margin-bottom: 50px;
   /*border-color: black;
   border-style: solid;
   border-width: 0px 0px 4px 0px;*/
}

.nav a {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: 0.15s;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}
.logo{
    position:absolute;
    width: 100px;
    height: 110px;
    top: 0px;
    left: 10px;
    transition: 0.15s;
}

.logo:hover{
    transform: scale(1.05);
}

.nav a:hover{
    transform: scale(1.2);
}

.uvod {
   display: flex;
   justify-content: center;             
   gap: 50px;
   padding-bottom: 20px;
   
}
.uvod img{
   transition: 0.15s;
   border-radius: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   /*border-style: solid;
   border-width: 4px*/
}

.uvod img:hover{
   transform: scale(1.05);
}

.quote{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0%;
}

/*---------------*/
.contact-row{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 140px;
}

.contact{
    width: 400px;
    height: 400px;
    transition: 0.15s;
}

.contact:hover{
    transform: scale(1.05);
}

.contact img{
    border-radius: 20px 20px 0px 0px;
    display: block;
    height: 400px;
    width: 400px;
}

.contact .frame{
    border-radius: 0px 0px 20px 20px;
    width: 400px;
    height: 90px;
    background: linear-gradient(0deg, rgba(250, 15, 15, 1) 0%, rgba(145, 33, 33, 1) 100%);
    text-align: center;
    color: white;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
/*---------------*/

.menu-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 140px;
}

.menu-item{
    width: 300px;
    height: 300px;
    transition: 0.15s;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item:hover{
    transform: scale(1.05);
}

.menu-item img{
    border-radius: 20px 20px 0px 0px;
    display: block;
    height: 300px;
    width: 300px;
    transition: 0.15s;
}

.menu-item img:hover{
    filter: brightness(1.05);
}

.menu-item .frame{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 5px 5px;
    width: 300px;
    height: 50px;
    background: linear-gradient(0deg, rgba(250, 15, 15, 1) 0%, rgba(145, 33, 33, 1) 100%);
    text-align: center;
    color: white;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-size: 30px;
    padding-top: 20px;
}

.nav a .active{
    color: yellow;
}